<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dahuang.mapper.StoreMapper">

    <select id="queryAll" resultType="Store">
        select *
        from store
    </select>

    <insert id="insertModel" parameterType="Store">
        insert
        into store
        values (null,#{merchantID},#{storeName},NOW(),#{homeImage});
    </insert>

    <update id="updateModel" parameterType="Store">
        update store
        set merchantID=#{merchantID},storeName=#{storeName},registerTime=#{registerTime},homeImage=#{homeImage}
        where ID=#{ID}
    </update>

    <delete id="deleteByID" parameterType="String">
        delete
        from store
        where ID=#{ID}
    </delete>

</mapper>
